@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(15 23 42);
  background: #f8fafc;
}

.custom-map-pin {
  background: transparent;
  border: none;
}

.leaflet-popup-content-wrapper {
  border-radius: 1rem !important;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1) !important;
  border: 1px solid #e2e8f0;
}

.leaflet-popup-tip {
  background: white;
}
